.customInput {
  display: inline;
  color: white;
  font-family: 'Zilla Slab', sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.04375rem;
  width: 100%;
  min-width: fit-content;
  flex-shrink: 0;
  border-radius: 1.25rem;
  border: 1px solid rgba(153, 153, 153, 0.44);
  background: var(--grey-color);
  padding: 0.5rem 1rem;
  outline: none;
}

.customInput:focus {
  color: #ffffff;
  border-color: var(--green-color);
}

.customInput::placeholder {
  color: #999;
}
