---
import Layout from "../layouts/Layout.astro";
import CustomButton from "../components/CustomButton";
import CustomInput from "../components/CustomInput";
import Title from "../components/Title";
import "../components/Common.css";
import colors from "../utils/colors";
---

<Layout title="joinpage">
  <div class="pageWrapper">
    <Title />
    <div class="menuBox">
      <p class="waitingText">John is waiting...</p>
      <div class="wrapper">
        <CustomInput placeHolder="Enter your name..." maxLength={20} />
        <CustomButton color={colors.green} text="Join Room" />
      </div>
    </div>
  </div>
</Layout>
