---
import Layout from "../layouts/Layout.astro";
import colors from "../utils/colors";
import PlayerDisplay from "../components/PlayerDisplay";
import Title from "../components/Title";
import "../components/Common.css";
import CustomButton from "../components/CustomButton";
import CustomInput from "../components/CustomInput";
import LinkDisplay from "../components/LinkDisplay";
import Settings from "../components/Settings";
---

<Layout title="RoomPage">
  <div class="pageWrapper">
    <Title />
    <LinkDisplay link={"https://4letters.io/room?=4eQ9ssJq"} client:load />
    <div class="menuBox">
      <p class="simpleText">Players Active:</p>
      <div class="wrapper">
        <PlayerDisplay name="Michael" />
        <PlayerDisplay name="John" />
      </div>
    </div>
    <Settings client:load />
    <div class="wrapperHorizontal">
      <img src="SecretIcon.svg" alt="SecretIcon" width={30} height={30} />
      <CustomInput
        placeHolder="SECRET WORD?"
        maxLength={4}
        customStyle={{
          maxWidth: "fit-content",
          background: colors.black,
        }}
      />
    </div>
    <CustomButton color={colors.green} text="Start Game" />
  </div>
</Layout>
