.copyLinkButton {
  display: flex;
  align-items: center;
  cursor: pointer;
  mix-blend-mode: hard-light;
}

.copyLinkButton:hover {
  transform: scale(1.1);
  mix-blend-mode: lighten;
}

.copyLinkButton:active {
  transform: scale(1);
  mix-blend-mode: multiply;
}

.copiedMessage {
  position: absolute;
  font-family: 'Courier New', Courier, monospace;
  padding-bottom: 6rem;
  padding-left: 1.5rem;
  top: inherit;
  transform: translate(-50%, -50%);
  font-size: 1rem;
  color: white;
  animation: fadeOut 0.5s ease-out forwards;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
