.circleButton {
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1;
  width: 2rem;
  border-radius: 100%;
  border: 3px solid rgba(255, 255, 255, 0);
  color: #fff;
  text-align: center;
  font-family: 'Viga', sans-serif;
  font-size: 2rem;
  font-weight: 550;
  transition:
    background-color 0.1s,
    border-color 0.2s,
    opacity 0.1s;
}

.circleButton:hover {
  cursor: pointer;
  border: 3px solid rgba(255, 255, 255, 0.7);
}

.circleButton:active {
  border: 3px solid rgba(255, 255, 255, 0);
  opacity: 0.8;
}

@media (max-width: 550px) {
  .circleButton {
    font-size: 0.7rem+1svh;
    white-space: nowrap;
  }
}
