.customButton,
.selectedButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  align-self: stretch;
  min-width: fit-content;
  border-radius: 1.25rem;
  border: 2px solid rgba(255, 255, 255, 0);
  color: #fff;
  text-align: center;
  font-family: 'Viga', sans-serif;
  font-size: calc(0.7rem + 0.5vw);
  font-weight: 550;
  padding: calc(0.4rem + 0.2vw) calc(1.5rem + 0.5vw);
  transition:
    border-color 0.2s,
    opacity 0.2s,
    transform 0.1s;
}

.customButton:hover,
.selectedButton:hover {
  cursor: pointer;
  border: 2px solid rgba(255, 255, 255, 0.7);
}

.customButton:active,
.selectedButton:active {
  opacity: 0.8;
  transform: scale(0.95);
}

@media (max-width: 550px) {
  .customButton,
  .selectedButton {
    padding: calc(0.4rem + 0.2vw) calc(0.5rem + 0.5vw);
    font-size: calc(0.7rem + 0.5vw);
    white-space: nowrap;
  }
}

.selectedButton {
  background-color: var(--blue-color);
}
