.customInput {
  display: inline;
  color: white;
  font-family: 'Zilla Slab';
  font-size: calc(1svh + 1rem);
  width: 100%;
  border-radius: 1.25rem;
  border: 1px solid rgba(153, 153, 153, 0.44);
  background: var(--grey-color);
  padding: 0.5rem 1rem;
  outline: none;
}

.customInput:focus {
  color: #ffffff;
  border-color: var(--green-color);
}

.customInput::placeholder {
  font-size: large;
  color: #999;
}

@media (max-width: 768px) {
  .customInput {
    padding: 0.4rem 0.8rem;
  }
}
