@keyframes anim {
  0% {
    background: #00e980ba;
  }
  50% {
    background: #00ff8ce9;
  }
  100% {
    background: #00e980ba;
  }
}

.timerBox {
  display: flex;
  padding: 0.25rem 1.25rem;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  border-radius: 1.25rem;
  border: 1px solid rgba(255, 255, 255, 0);
  background: #1b4a86;
}

.selectedTimerBox {
  display: flex;
  padding: 0.25rem 1.25rem;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  border-radius: 1.25rem;
  border: 1px solid rgba(255, 255, 255, 0);
  background: #00e980ba;
  animation-name: anim;
  animation-iteration-count: infinite;
  animation-duration: 1s;
}

.playerName {
  color: #fff;
  text-align: center;
  font-family: Viga;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.04375rem;
}

.timer {
  display: flex;
  width: 4.625rem;
  height: 1.625rem;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: #fff;
  text-align: center;
  font-family: 'Viga', sans-serif;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border-radius: 1.25rem;
  background: #000000;
}

@media (max-width: 1000px) {
  .timerBox,
  .selectedTimerBox,
  .playerName,
  .timer {
    transform: scale(0.8);
  }
  .timerBox,
  .selectedTimerBox {
    align-self: center;
    width: 110svw;
  }
}
