.titleText {
  color: #fff;
  text-align: center;
  font-family: 'Zilla Slab Highlight';
  font-size: calc(2.5rem + 2vw);
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: -0.14rem;
  margin-bottom: 0.1rem;
  margin-top: 0.1rem;
}

.gameTitleText {
  color: #fff;
  text-align: center;
  font-family: 'Zilla Slab Highlight';
  font-size: calc(2.5rem + 2vw);
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: -0.14rem;
  margin-bottom: 0.1rem;
  margin-top: 0.1rem;
}

@media (max-width: 500px) {
  .gameTitleText {
    font-size: calc(1.5rem + 2vw);
    text-align: center;
    align-self: center;
    justify-content: center;
    opacity: 1;
  }
}
